@model MinPro180.ViewModel.MonitoringViewModel


@using (Html.BeginForm("Delete", "Monitoring", FormMethod.Post, new { id = "delete-form", name = "delete-form" }))
{
	
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	@Html.HiddenFor(model => model.id)

	<h5>Are you sure you want to delete this data?</h5>

	<div class="form-horizontal">
		<div class="form-group">
			<div class="form-group">
				<div class="col-md-offset-2 col-md-10">
					<input type="submit" value="Delete" class="btn btn-success" />
					<input type="button" value="Cancel" class="btn btn-default" data-dismiss="modal" />
				</div>
			</div>
		</div>
	</div>
}

@Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $("#delete-form").submit(function () {
        //alert($(this).serialize());
        $.ajax({
			url: '@Url.Action("Delete","Monitoring")',
			type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Deleted!");
                    $(".modal").modal("hide");
                    GetList();
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });
</script>
