@model IEnumerable<MinPro180.ViewModel.QuestionViewModel>

<table class="table">
    <thead>
        <tr>
            @Html.DisplayNameFor(model =>model.id)
        </tr>
        
    </thead>

    <tbody  id="question-list">
        @foreach (var item in Model)
        {
            @Html.Partial("_Detailitem", item)
        }
    </tbody>

</table>
